.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 689px;
  height: 507px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 248px 18px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 508px;
  min-height: 485px;
  margin: -643px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 245px -60px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 580px;
    height: 484px;
    margin-top: 211px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    margin-top: -510px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 200;
    margin-top: 248px;
    margin-right: -50px;
    margin-left: 50px;
    font-family: Lato, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 447px;
    margin-top: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -772px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 393px;
    width: 600px;
    margin-top: 380px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -718px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 299px;
    width: 416px;
    margin-top: 403px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -647px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }
}